<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HDCKeylogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HDCKeylogger.Properties.Settings>
            <setting name="AutoSaveLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>.\logs</value>
            </setting>
            <setting name="LogFileTimer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoSendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>admin@demo.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailTimer" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="EncryptFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
        </HDCKeylogger.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
